@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar { display: none; } */
.chatarea::-webkit-scrollbar{
    display: none;
}
.proc_img:hover{
    transform: scale(0.9);
}
